<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Moments Analytics</title>
  <link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }}>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action={{ url_for("login") }}>
      <input type="text" name=username placeholder="username" required/>
      <input type="password" name=password placeholder="password" required/>
      <button type=submit id="login_button">login</button>
    </form>
  </div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  {% extends "message.html" %}
</body>
</html>